.container{
	width: 80%;
	border: 1px solid gray;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}
.margin-auto{
	margin: 0 auto;
}
.text-color{
	color: #FF8C00;
}
.size-60{
	font-size: 60px;
}
.para-color{
	color: #696969;
}
.padding-25{
	padding: 25px;
}