.section{
	width: 40%;
	min-height: 400px;
	background-color: #E3E4FA;
	padding: 20px;
	margin: 10px auto;
	line-height: 1.5;
}
.heading_size{
	font-size: 40px;
}
.heading_margin{
	margin: 15px 0;
}
.red_head, #red_list{
	color: red;
}
#red_list{
	margin-left: 10%;
}