.container{
	background-image: url(../images/bg2_page.jpg);
	background-size: cover;
	height: 730px;
	font-size: 20px;
}
.width-400px{
	width: 400px;
}
.radius-50{
	border-radius: 50%;
}
.padding{
	padding: 15% 0 0 15%;
}
.tx-purple{
	color: purple;
}