.container{
	font-family: sans-serif;
}
.header{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	min-height: 900px;
}
.nav{
	width: 90%;
	min-height: 50px;
}
.width-44{
	width: 44%;
}
.list-style-none{
	list-style: none;
}
.list-item{
	display: inline-block;
	margin-right: 15px;
}
.item{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.item:hover, .active{
	color: yellow;
}
.active{
	border: 1px solid #fff;
	padding: 10px;
    border-radius: 15px;
}
.content{
	width: 80%;
}
.nav, .content{
	margin: 0px auto;
}
.float-left{
	float: left;
}
.ct-main{
	width: 66%;
	min-height: 890px;
	margin: 18px;
	padding: 10px;
	line-height: 1.5;
}
.tx-color{
    color: #316fbc;
}
.size-15{
	font-size: 15px;
}
.uppercase{
	text-transform: uppercase;
}
.tx-bold{
	font-weight: bold;
}
.food-name{
    color: #194081;
	line-height: 0.5;
	margin-bottom: 11px;
	font-size: 36px;
}
.width-100{
	width: 100%;
}
.time{
	color: gray;
	margin-bottom: 6px;
}
.align-center{
	text-align: center;
}
.tx-red, #link_visit:hover, #link_youtube:hover, .new-hover:hover{
	color: red;
}
.float-right{
	float: right;
}
.news{
	width: 28%;
	min-height:890px;
	margin: 8.9% 0px;
}
.food-suggest{
	background-image: url(../images/food_other.jpg);
	background-size: cover;
	clear: left;
	min-height: 600px;
}
.footer{
	min-height: 80px;
	background-color: #B5B5B5;
}
.copyright{
	margin: 0px;
	padding: 30px;
	font-size: 18px;
}