.height-size{
	height: 5px;
}
.custom-toggler{
	background-color: #fff;
	border: 1px solid grey;
}
.custom-toggler .navbar-toggler-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media(max-width: 576px){
	.center-responsive{
		text-align: center;
	}
}
.height-160{
	height: 160px;
}
@media(max-width: 768px){
	.height-80px{
		height: 80px;
	}
	.width-80px{
		width: 80px;
	}
}
.bg-black{
	background-color: black;
}