#create-cv{
	width: 75%;
	margin: 0 auto;
	border: 10px solid #1E90FF;
	min-height: 400px;
	padding: 15px;
	font-family: sans-serif;
}
.bg-image{
	background-image: url(../images/photo5.jpg);
	background-size: cover;
	height: 400px;
}
.title-section{
	width: 36%;
	color: #000;
	min-height: 120px;
	border: 1px solid gray;
	position: relative;
	top: 50%;
	left: 20%;
	background-color: #FFF5EE;
	padding: 10px;
}
.underline{
	width: 40%;
	position: relative;
    left: -30%;
}
#form-sign{
	padding-left: 15px;
}
.text-color{
	color: #1E90FF;
}
.text-bold{
	font-weight: bold;
}
.star-red{
	color: red;
}
.width-97{
	width: 97%;
}
.padding-5{
	padding: 5px;
}
.submit{
	background-color: #32CD32;
	color: #fff;
	border: none;
}
.align-center{
	text-align: center;
}