@font-face{
	src: url('Inconsolata/static/Inconsolata_Expanded-Regular.ttf');
	font-family: 'Inconsolata';
}
@font-face{
	src: url('Playfair_Display/static/PlayfairDisplay-Regular.ttf');
	font-family: 'Playfair_Display';
}
.navbar-brand{
	font-family: 'Inconsolata';
	font-size: 30px;
	letter-spacing: 6px;
}
.nav-link{
	font-size: 14px;
	color: #626262;
	font-weight: 400;
	font-family: 'Playfair_Display';
}
.font_Playfair_Display{
	font-family: 'Playfair_Display';
}
.underscore{
	width: 399px;
	height: 1px;
	background-color: #cccccc;
	border: 1px solid #000000;
}
.empty-div{
	height: 500px;
}