#login{
	width: 30%;
	margin: 0px auto;
	border: 5px solid #1E90FF;
	padding: 15px 15px 30px 15px;
}
.align-center{
	text-align: center;
}
.uppercase{
	text-transform: uppercase;
}
.tx-lighter{
	font-weight: lighter;
}
.tx-color{
	color: #fff;
}
.bg-blue{
	background-color: #00008B;
}
.bg-red{
	background-color: red;
}
.bg-green{
	background-color: #9ACD32;
}
.size-17{
	font-size: 17px;
}
.padding-10-30{
	padding: 10px 30px;
}
.border-none{
	border: none;
}
.label-color{
	color: #1E90FF;
}
.color-red{
	color: red;
}
.width-97{
	width: 97%;
}
.padding-5{
	padding: 5px;
}
.width-75{
	width: 75%;
}
#sign_in{
	background-color: #1E90FF;
}
.padding-10{
	padding:10px;
}
.width-100{
	width: 100%;
}