.container-fluid{
	background-color: #307D7E;
}
.bg-color{
	background-color: #006666;
}
.height-400{
	height: 400px;
}
.height-130{
	height: 130px;
}
.height-80{
	height: 80px;
}
.height-125{
	height: 125px;
}