#registration{
	width: 75%;
	margin: 0 auto;
	padding: 5px;
	background-color: #FFFFCC;
	border: 1px solid black;
}
.align-center{
	text-align: center;
}
.padding-0-10{
	padding: 0px 10px;
}
.width-98{
	width: 98%;
}
.padding-10{
	padding: 10px;
}
.height-60{
	height: 60px;
}
.width-70{
	width: 70%;
}
.submit{
	background-color: #0099CC;
	border-radius: 3px;
}