.container, .btn-email{
	color: #fff;
}
.section{
	min-height: 300px;
	border: 1px solid gray;
	background-color: #222222;
	width: 100%;
}
.table{
	width: 80%;
	margin: 0 auto;
}
.width-55{
	width: 55%;
}
.width-15{
	width: 15%;
}
.padding-top-45{
	padding-top: 45px;
}
.margin-top--18{
    margin-top: -18px;
}
#email{
	padding: 10px;
	background-color: #444444;
	width: 35%;
}
.btn-email{
	padding: 10px 15px;
	background-color: #00CCCC;
}
.btn-email, #email{
	border: none;
}
.footer{
	background-color: #444444;
	min-height: 80px;
}
.size-26{
	font-size: 26px;
}
.number-bg{
	background-color: #9966CC;
}
.padding-10-30{
	padding: 10px 30px;
}
.width-25{
	width: 25%;
}
.float-right{
	float: right;
}